api.listening_addr = "127.0.0.1:5005"   # gRPC API server
webui.listening_addr = "127.0.0.1:8080" # Web UI
activities.directories.enabled = true   # Allow file I/O for activities with `directories.enabled = true`

[log.console]
enabled = true
level = "warn,obelisk=info,app=debug" # app=trace to see replays

[[activity_wasm]]
name = "activity_sleepy"
location = "${OBELISK_TOML_DIR}/target/wasm32-wasip2/release/activity_sleepy.wasm"
exec.lock_expiry.seconds = 10
directories  = { enabled = true, reuse_on_retry = false} # Each execution run starts with an empty preopened directory.

[[workflow]]
name = "workflow_tutorial"
location = "${OBELISK_TOML_DIR}/target/wasm32-unknown-unknown/workflow/workflow_tutorial.wasm"
backtrace.sources = {".../src/lib.rs" = "${OBELISK_TOML_DIR}/workflow-tutorial/src/lib.rs"}

[[http_server]]
name = "external"
listening_addr = "0.0.0.0:9000"

[[webhook_endpoint]]
name = "webhook_tutorial"
location = "${OBELISK_TOML_DIR}/target/wasm32-wasip2/webhook/webhook_tutorial.wasm"
http_server = "external"
routes = ["/*"]
backtrace.sources = {".../src/lib.rs" = "${OBELISK_TOML_DIR}/webhook-tutorial/src/lib.rs"}
