[package]
name = "webhook-tutorial"
version.workspace = true
authors.workspace = true
edition.workspace = true

[lib]
crate-type = ["cdylib"]

[dependencies]
anyhow.workspace = true
wit-bindgen.workspace = true
wstd.workspace = true

